* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  color: #fff;
  font-size: 2em;
}
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #000;
}
#drum-machine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#drum-machine #display {
  max-width: 500px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 100px);
  margin-bottom: 35px;
}
.drum-pad {
  background: rgba(105, 101, 101, 0.2);
  padding: 10px;
  height: 100px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  gap: 15px;
  text-align: center;
  color: #fff;
  box-shadow: 3px 3px 8px rgba(255, 255, 255, 0.4);
  user-select: none;
}
/* .drum-pad:hover{
  background: rgb(0, 255, 255);
  color: #000;
} */
.playing {
  box-shadow: 3px 3px 8px rgb(0, 255, 85);
  transform: translateY(5px);
  transition: 0.1s ease;
}
.toggle {
  height: 30px;
  width: 70px;
  background: white;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  position: relative;
}
.toggle .circle {
  position: absolute;
  height: 100%;
  width: 50%;
  background: rgb(0, 255, 85);
  top: 0;
  left: 0;
  border-radius: 50%;
  transition: 0.5s ease;
}
.circle.toggled {
  transform: translateX(100%);
}
