* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: #000;
}
#drum-machine #display {
  max-width: 500px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 100px);
}
.drum-pad {
  background: rgba(105, 101, 101, 0.2);
  padding: 10px;
  height: 100px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
  box-shadow: 3px 3px 8px rgba(255, 255, 255, 0.4);
  user-select: none;
}
/* .drum-pad:hover{
  background: rgb(0, 255, 255);
  color: #000;
} */
.playing {
  background: rgb(0, 255, 255);
  color: #000;
}
